<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="padding-bottom: 0px; margin-bottom: 0px;">
    <div class="container">
        <ul class="nav navbar-nav">

            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Easy Retro Board</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (login) {%>
            <li class="dropdown navbar-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Hi <%= user.username%>!<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/profile">Your profile</a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                </ul>
            </li>
            <%} else {%>

            <li class="navbar-right">
                <a href="/login">Log in</a>
            <% }%>
            </li>
        </ul>
    </div>
</nav>