<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/cmxformTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cmxformmine.css"/>
    <title>Easy Retro Board: Your Board</title>


</head>
<body style="background-color: #d9ccee">
<% include ../partials/nav.ejs %>
<div class="container">
    <div class="row" style="padding-top: 30px;">

    Board has id <%= board_id%>.

    </div>


</div>

</body>
</html>