<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/cmxformTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cmxformmine.css"/>
    <title>Easy Retro Board: Forgot Password</title>



    <script>
        $.validator.setDefaults({
        });

        $().ready(function () {
            // validate signup form on keyup and submit
            $("#forgotForm").validate({
                rules: {

                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {

                    email: "Please enter a valid email address"

                }
            });
        });
        </script>



</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
    <div class="row" style="padding-top: 30px;">

        <div class="col-md-6 col-sm-offset-2 col-md-offset-3" style="background-color: cornsilk; border-radius: 6px;">

            <form class="cmxform form-inline form-horizontal" id="forgotForm" action="/forgot" method="post"
                  style="padding-top: 30px">
                <% if (error_message.length > 0) { %>
                <div class="alert alert-danger"><%= error_message %></div>
                <% } %>
                <% if (message.length > 0) { %>
                <div class="alert alert-success"><%= message %></div>
                <% } %>
                <fieldset>
                    <legend>Please enter your email address</legend>

                    <p>
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control input-sm" style="width: 300px;"
                               value="<%= email %>">
                    </p>

                    <p>
                        <span style="font-style: italic">We will email a link to the above email address that you can use to reset your password.</span>
                    </p>
                    <hr style="background-color: #532F8C">
                    <div class="row">

                        <div class="col-xs-12 col-md-6"><input type="submit" value="Reset password"
                                                               class="btn btn-primary btn-block btn-lg"
                                                               tabindex="7">
                        </div>

                    </div>
                </fieldset>

            </form>
        </div>
    </div>


</div>

</body>
</html>