<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easy Retro Board: Home</title>
    <% include ../partials/header.ejs %>
    <style>
        .btn-dark {
            border-radius: 5px;
            color: #fff;
            /*background-color: rgba(0,0,100,0.4);*/
            background-color: rgba(0, 48, 117, 0.6);
        }


    </style>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">

        <div class="col-lg-12 text-center" style="margin-top: 50px;">
            <h1 style="display: block;">Welcome to Easy Retro Board!</h1>
            <p class="lead">Easily Do Your Retros Online</p>
            <% if (!login) {%>
            <div style="margin-top: 50px;">
            <a href="/login" class="btn btn-dark btn-lg" style="margin:20px;">Log In</a>
            <a href="/signup" class="btn btn-dark btn-lg" style="margin:20px;">Sign Up</a>
                </div>
            <% } else {%>

            <div class="row" style="padding-bottom:30px;">
                <div class="col-md-6 col-sm-offset-2 col-md-offset-3" >
                    <a href="/board-create" class="btn btn-dark btn-lg">Create a Board</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="background-color: cornsilk; border-radius: 5px; margin-top: 40px; border-color: lightgray; border-style: solid; border-width: 1px;">

                    <h2 style="padding-top: 5px; display: block; text-align: center; float: none; font-weight: bold; font-size: 24px;">Your Boards</h2>
                    <% if (boards) { %>
                    <ul class="list-group" >
                        <% for (var i = 0; i < boards.length; i++) {%>
                        <li class="list-group-item" style="padding: 2px;">
                            <a href="board?boardId=<%= boards[i].id%>" style="width:100%; margin: 0px;" class="btn btn-dark btn-lg"><%= boards[i].name %></a></li>
                        <%} %>
                    </ul>
                    <%} else {%>
                    <span>You currently have no boards.</span>
                    <% } %>
                </div>

            </div>





            <% }%>
        </div>




</div>

</body>
</html>